//email=hgabrielyan@adobe.com
registry=https://registry.npmjs.org/ 
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-wf-dev/:_auth="aGdhYnJpZWx5YW46QUtDcDhrOFl6YW95SzR6Q1lIUXVlM3lmYWRjaDZEbktMam50dWVVOUNYNUFERWlHdXJXalN6dTNjaDFDdndUa3kzRmRtRXI0cA=="
always-auth=true
//artifactory-uw2.adobeitc.com/artifactory/api/npm/:_auth="aGdhYnJpZWx5YW46QUtDcDhrOFl6YW95SzR6Q1lIUXVlM3lmYWRjaDZEbktMam50dWVVOUNYNUFERWlHdXJXalN6dTNjaDFDdndUa3kzRmRtRXI0cA=="
