.users {
  width: 100%;
}

.mat-column-user-actions {
  width: 128px;
  text-align: center;
  font-weight: bold;
}

.mat-column-user-avatar {
  width: 10px;
  text-align: center;
  font-weight: bold;
}
.mat-mdc-cell {
  padding-top:5px;
  padding-bottom:5px;
}
