<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="resetForm" (submit)="onSubmit()">
                <h3 class="text-center">Установите пароль</h3>
                <div class="col-12 m-auto">
                  <div class="row">
                    <mat-form-field class="w-100">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="email"
                             placeholder="">
                      <mat-error
                        *ngIf="resetForm.controls['email'].hasError('email') && !resetForm.controls['email'].hasError('required')">
                        Укажите правильный почтовой ящик
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['email'].hasError('required')">
                        Поле обязательное
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="w-100">
                      <mat-label>Пароль</mat-label>
                      <input #passwordField type="password" matInput formControlName="password">
                      <mat-icon matSuffix
                                (click)="passwordField.type=='password' ?  passwordField.type='text' : passwordField.type='password'">
                        {{ passwordField.type == 'password' ? 'visibility' : 'visibility_off' }}
                      </mat-icon>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                        Поле обязательное
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">
                        Пароль должен содержать не менее 6 символов
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="w-100">
                      <mat-label>Повторите пароль</mat-label>
                      <input #passwordRepeatField type="password" matInput formControlName="password_confirmation">
                      <mat-icon matSuffix style="cursor: pointer"
                                (click)="passwordRepeatField.type=='password' ?  passwordRepeatField.type='text' : passwordRepeatField.type='password'">
                        {{ passwordRepeatField.type == 'password' ? 'visibility' : 'visibility_off' }}
                      </mat-icon>
                      <mat-error *ngIf="resetForm.controls['password_confirmation'].hasError('matching')">
                        Не совпадает с паролем
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <button mat-flat-button color="primary" (click)="onSubmit()" [class.spinner]="loading" [disabled]="loading || resetForm.invalid">Сохранить</button>
                  </div>

                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
