<form [formGroup]="deliverySettingForm">
  <div mat-dialog-title>
    <h3>Настройки доставки</h3>

  </div>
  <div mat-dialog-content formGroupName="value">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Базовый объём</mat-label>
          <input matInput type="number" formControlName="volume_base">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Базовый объём</mat-label>
          <input matInput type="number" formControlName="weight_base">
        </mat-form-field>
      </div>
    </div>
    <mat-card formArrayName="volume">
      <mat-card-header>Лимиты объёма (литр)
        <button mat-raised-button (click)="addNewVolume()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let volume of volumeForm.controls; let i = index" [formGroupName]="i">
          <div class="d-flex align-items-center bd-highlight" style="height: 100px">
            <div class="bd-highlight">
              <mat-form-field>
                <mat-label>Начиная с</mat-label>
                <input matInput type="number" formControlName="min">
              </mat-form-field>
            </div>
            <div class="bd-highlight">
              <mat-form-field>
                <mat-label>до</mat-label>
                <input matInput type="number" formControlName="max">
              </mat-form-field>
            </div>
            <div class="bd-highlight">

              <mat-form-field>
                <mat-label>Цена (за литр)</mat-label>
                <input matInput type="number" formControlName="price">
              </mat-form-field>

            </div>
            <div class="bd-highlight">
              <button mat-raised-button  (click)="deleteVolume(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card formArrayName="weight">
      <mat-card-header>Лимиты веса (кг)
        <button mat-raised-button (click)="addNewWeight()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let weight of weightForm.controls; let i = index" [formGroupName]="i">
          <div class="d-flex align-items-center bd-highlight" style="height: 100px">
            <div class="bd-highlight">
              <mat-form-field>
                <mat-label>Начиная с</mat-label>
                <input matInput type="number" formControlName="min">
              </mat-form-field>
            </div>
            <div class="bd-highlight">
              <mat-form-field>
                <mat-label>до</mat-label>
                <input matInput type="number" formControlName="max">
              </mat-form-field>
            </div>
            <div class="bd-highlight">

              <mat-form-field>
                <mat-label>Цена (за кг)</mat-label>
                <input matInput type="number" formControlName="price">
              </mat-form-field>
            </div>
            <div class="bd-highlight">
              <button mat-raised-button (click)="deleteWeight(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (load)="submitting" (click)="onSubmit()" [disabled]="deliverySettingForm.invalid">Сохранить</button>
  </div>
</form>
