.mat-column-type {
  width: 10px;
}
.mat-column-type-text {
  width: 10px;
}

.mat-column-qty {
  width: 20px;
}

.mat-column-price_per_unit {
  width: 20px;
}

.mat-column-total_price {
  width: 20px;
}

