.mat-badge{
  width: 120px;
}

.mat-mdc-cell{
  padding-top: 10px;
}

.mat-column-tag-actions {
  width: 128px;
  text-align: center;
  font-weight: bold;
}

.mat-column-tag-items {
  width: 128px;
  text-align: center;
}


.mat-column-tag-id {
  width: 10px;
  text-align: center;
}

.mat-mdc-table {
  margin: 0 auto;
}
