@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "node_modules/font-awesome/css/font-awesome.min.css";
@import 'ngx-toastr/toastr';

.toast-position-fixed-top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  position: fixed !important;
}
.cdk-overlay-container {
  z-index: 9999 !important;
}

.mat-success {
  background-color: green;
  color: #fff;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
.mat-vertical-content-container {
margin-left: 1px;
}
