<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Услуги</h4>
    </div>
    <div class="card-body">
      <div class="mb-3 text-right body-header" *ngIf="canPerformAction('create-tags')">
        <button mat-raised-button color="primary" (click)="openOperation()">Добавить услугу</button>
        <button mat-raised-button color="primary" (click)="openDeliverySettings()">Настройки</button>
        <div class="filters">
          <mat-form-field>
            <mat-select [(value)]="selectedSteps" multiple placeholder="Этапы" (selectionChange)="applyFilter()">
              <mat-option (click)="toggleAllSelection()" [value]="'all'">
                Все этапы
              </mat-option>
              <mat-option *ngFor="let step of serviceSteps" [value]="step.key">
                {{ step.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="servicesTable" class="mat-elevation-z8 ">
        <!-- Name Column -->
        <ng-container matColumnDef="service-name">
          <th mat-header-cell *matHeaderCellDef> Название </th>
          <td mat-cell *matCellDef="let service"> {{service.name}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="service-price">
          <th mat-header-cell *matHeaderCellDef> Цена </th>
          <td mat-cell *matCellDef="let service"> {{service.price}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="service-date">
          <th mat-header-cell *matHeaderCellDef> Дата создания/изменения </th>
          <td mat-cell *matCellDef="let service"> {{service.updated_at ? (service.updated_at | date: 'yyyy-MM-dd HH:mm') : (service.created_at | date: 'yyyy-MM-dd HH:mm') }} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="service-user">
          <th mat-header-cell *matHeaderCellDef> Пользователь </th>
          <td mat-cell *matCellDef="let service"> {{service.updater.name ? service.updater.name : service.creator.name}} </td>
        </ng-container>


        <ng-container matColumnDef="service-actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let service">
            <button mat-icon-button color="primary" (click)="openUpdateServiceDialog(service)" *ngIf="canPerformAction('edit-services')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" [class.spinner]="service.deletingProcess" [disabled]="service.deletingProcess" (click)="openDeleteServiceDialog(service)" *ngIf="canPerformAction('delete-services')">
              <mat-icon>delete</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['service-name','service-price', 'service-date','service-user','service-actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['service-name','service-price', 'service-date', 'service-user', 'service-actions'];"></tr>
      </table>

    </div>
  </div>
</div>


